body {
  padding-top: 98px !important;
  padding-left: 236px !important;
  background-color: #eff0f1;
  transition: all .6s;
  margin-bottom: 40px;
}

@media (max-width:768px) {
  body {
    padding-left: 10px !important;
    padding-top: 100px !important;
    padding-right: 0px !important;
    padding-bottom: 10px !important;
  }

  .sidebar-toggled {
    padding-left: 0px !important;
  }
}

.sidebar {
  transition: all .6s;
  display: block;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  bottom: 0;
}


/* community logo  */
.community-info-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.community-logo-wrap {
  display: flex;
}

.community-logo {
  display: inline-block;
}

.community-name-wrap {
  display: flex;
}

.community-logo {
  display: block;
  border-radius: 50%;
  object-fit: cover;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
}

.community-name {
  padding: 10px;
  text-decoration: none;
  text-transform: none;
}

.nav-link-item {
  border-bottom-right-radius: 40px !important;
  border-top-right-radius: 40px !important;
}

.leftbar-item {
  border-bottom-right-radius: 40px !important;
  border-top-right-radius: 40px !important;
}

.leftbar-item:hover {
  background-image: linear-gradient(229deg, #286aff 56%, #082a75 100%) !important
}

.nav-link-item:focus {
  background-image: linear-gradient(229deg, #286aff 56%, #082a75 100%) !important
}

.bg-gradient-primary {
  background-color: #ffffff;
  background-image: linear-gradient(180deg, #fff 10%, #fff 100%) !important;
  /* background-image: linear-gradient(180deg, #0036b1 10%, #000000 100%) !important; */
  background-size: cover;
}

.sidebar-dark hr.sidebar-divider {
  border-top: 1px solid rgb(0 0 0 / 15%) !important;
}

.sidebar-dark .nav-item .nav-link i {
  color: rgb(112 112 112);
}

.sidebar-dark .sidebar-brand {
  color: #000;
}

.sidebar-dark .nav-item .nav-link {
  color: rgb(0 0 0);
}

/* community info  */
.community-img {
  height: 500px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.CommunityInfo {

  position: relative;
}

.communitybanner-img-wrap {
  display: flex;
}

.communitybanner-name-wrap {
  position: absolute;
  bottom: 62px;
  width: 52%;
  height: 40%;
  top: 140px;
  right: 0;
  border-bottom-left-radius: 145px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 145px;
  padding-left: 18px;
  /* height: 115px; */
  background: white;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width:1061px) {
  .communitybanner-name-wrap {
    width: 39% !important;
  }
}

.communitybanner-name {
  font-size: 62px;
  font-weight: 600;
  margin-left: 28px;
  color: #000;
}

.communityinfo-editbtn-wrap {
  position: absolute;
  top: 13px;
  right: 13px;

}

.communityinfo-edit-btn {
  border: none;
  padding: 11px;
  border-radius: 5px;
  background: white;
  opacity: 0;
  transition: opacity .4s;
}


.CommunityInfo:hover .communityinfo-edit-btn {
  opacity: 1;
}

@media screen and (max-width:768px) {
  .community-img {
    height: 230px;
  }

  .communitybanner-name-wrap {
    height: 66px;
  }

  .communitybanner-name {
    font-size: 26px !important;
  }
}


.card {
  background: white;
  border-radius: 5px;
  border: none;
}

/* description-card  */

.description-wrap {
  margin-top: 10px;
  background-color: white;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.description-title-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-bottom: 1px solid #d9d9d9; */
  background-color: #f8f9fc;
}

.card-title-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-bottom: 1px solid #d9d9d9; */
  background-color: rgb(255 255 255);
  border-radius: 10px;
}

.card-body {
  border-radius: 10px;
}

.card-title {
  color: #1d87f1;
  font-weight: 700;
}

.owner-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: inline-block;
  object-fit: cover;
}

.owner-list-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  /* background: #eaf3fb; */
  border-radius: 10px;

}

.show-more-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.show-more {
  font-size: 17px;
  color: #1d9bf0;
  margin: 0;
}

.owner-name {
  display: inline-block;
  font-size: 21px;
  color: black;
}

.owner-connect-btn {
  border: none;
  padding: 6px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
  color: white;
  background: #1d9bf0;
}

/* add widget */
.add-widget-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  background: white;
  padding: 13px;
  border-radius: 10px;
  font-size: 23px;
  color: #626060;
  font-weight: 600;
}

.addWidget-text {
  font-size: 20px;
}

.addwidget-icon,
.addWidget-text {
  display: inline-block;
}

/* ongoing */
.group-title-info {
  display: inline-block;

}

.ongoing-card-info {
  display: flex;
  vertical-align: top;
}

.join-btn {
  padding: 3px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 20px;
  color: #1d9bf0;
  border: 1px solid #1d9bf0;
  background: #ffffff;
  transition: all .4s;
}

.join-btn:hover {
  background-color: #1d9bf0;
  color: #ffffff;
}

/* conver card size in sm devices */

@media screen and (max-width:768px) {
  .card-to-sm {}
}

/* quick assess */
.settingsicon-wrap,
.usersicon-wrap,
.progressicon-wrap {
  display: inline-block
}

.quick-access-icons {
  font-size: 23px;
  color: white;
  background: gray;
  padding: 14px;
  border-radius: 50%;
  cursor: pointer;
}

.quick-access-icons-wrap {
  display: flex;
  align-items: center;
  grid-gap: 20px;
}